/* Styles for the first section */
.section1 {
  background-image: url('.\\Background_Pictures\\Solarsteam_Logo.png');
  background-size: 60%; /* Adjusted to be 30% smaller */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Creates the parallax effect */
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Styles for the second section */
.section2 {
  background-image: url('.\\Background_Pictures\\section_2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Creates the parallax effect */
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
