.hamburger-button {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    position: fixed; /* Fixes the position of the button */
    top: 15px; /* Position from the top */
    right: 15px; /* Position from the right */
    z-index: 2; /* Ensures the button is above other content */
  }
  
  .hamburger-nav {
    background-color: #333;
    color: #fff;
    padding: 15px;
    position: fixed; /* Fixes the position of the menu */
    width: 200px;
    top: 0;
    right: 0;
    z-index: 1; /* Ensures the menu is below the button */
  }
  
  .hamburger-nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .hamburger-nav ul li {
    margin-bottom: 15px;
  }
  
  .hamburger-nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  